{% extends 'base.html' %}

{% block content %}

<h1 class="title">Open Trade</h1>
<div class="content">
    <form method="POST" action="/operations/new">
        <div class="field">
            <label class="label">User</label>
            <div class="control">
                <input class="input" type="text" name="user" value="koki" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Ticker</label>
            <div class="control">
                <input class="input" type="text" name="ticker" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Entry Date</label>
            <div class="control">
                <input class="input" type="date" name="entry_date" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Entry Price</label>
            <div class="control">
                <input class="input" type="number" step="0.01" name="entry_price" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Size</label>
            <div class="control">
                <input class="input" type="number" step="0.01" name="size" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Broker</label>
            <div class="control">
                <input class="input" type="text" name="broker" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Type</label>
            <div class="control">
                <input class="input" type="text" name="type" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">Open Trade</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
