{% extends 'base.html' %}

{% block content %}

<h1 class="title">Portfolio</h1>
<div class="content">
    <div style="width: 100%; display: flex; align-items: center;">
        <h4 class="subtitle">Cash Position:</h4>
        <p>&MediumSpace;$&ThinSpace;{{ cash_position.value }}</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Entry Date</th>
                <th>Entry Price</th>
                <th>Size</th>
                <th>Close Price</th>
                <th>Close Date</th>
                <th>uPNL</th>
                <th>% uPNL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
            <tr>
                <td>{{ operation.ticker }}</td>
                <td>{{ operation.entry_date }}</td>
                <td>{{ operation.entry_price }}</td>
                <td>{{ operation.size }}</td>
                <td>{{ operation.close_price }}</td>
                <td>{{ operation.close_date }}</td>
                <td>{{ operation.pnl }}</td>
                <td>{{ operation.pnl_percentage }}</td>
                <td>
                    {% if operation.close_date is none %}
                    <a href="{{ url_for('operations.close_trade_page', operation_id=operation.id) }}"
                        class="button is-primary">Close Trade</a>&MediumSpace;|&MediumSpace;
                        <a href="{{ url_for('operations.delete_trade', operation_id=operation.id) }}"
                        class="button is-primary">Delete Trade</a>
                    {% else %}
                    No Action possible
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="chart-open-size" style="height: 400px;"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var chartJson = {{ chart_json | safe }};
        Plotly.newPlot('chart-open-size', chartJson.data, chartJson.layout);
    </script>

</div>
{% endblock %}